*{
    margin: 0;
    padding: 0;
}


body{
    background-color: black;
}

.table_flex{
    display:flex;
    gap:2rem;
}
.project_grid{
    display: grid;
    gap:2rem;
}
.project{
    height: 50vh;
    width: 80vw;
    border: 1px rgb(255, 255, 255) solid;
    position: relative;
    left:10vw;
    top:10vh;
    border-radius:20px;
    z-index: 1;
}
.phase_number{
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:20px;
    color: blanchedalmond;
    text-decoration-color: aliceblue;
    text-indent: 20px;
    font-size: 30px;


}

.phase_head_c{
    top:-5vh;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:20px;
    text-align: center;
    color: blanchedalmond;
}


table{ 
    border-collapse: collapse;
    border: 0.1px solid white;
    left:10vw;
    position: relative;
    width:30vw;
    color:white;
    padding-left:20px;
    overflow: hidden;
    z-index: -1;

}

th{
    border-left:1px solid white;
    padding:10px 12px;
    border-bottom: 1px solid white;
    width: 50vw;
}
tr{
    border-left:1px solid white;
}
td{
       border-left:1px solid white;
       padding: 10px 12px;

}

#pro_3,#pro_4,#pro_5{
    display:none;
}

#next_comming{

    width:20vw;
    height: 5vh;
    border:1px white solid;
    color: white;
    padding:20px;
    position:relative;
    left:40vw;
    margin-bottom:7vw;

}

#next_comming:hover{

    background-color: rgba(73, 45, 8, 0.622);
    transition: background-color 1s ease-in-out;


}









#logo_moves{
    height: 1500px;
    width: 1500px;
    position: fixed;
    top:-400px;
    opacity: 0.05;
    border-radius: 100%;
    left: -400px;
    z-index:-1;
    animation: rotate 100s linear infinite;

}

#logo_moves_1{
    height: 700px;
    width: 700px;
    position: fixed;
    top:-400px;
    opacity: 0.091;
    border-radius: 100%;
    left: 1200px;
    z-index:-1;
    animation: rotate 100s linear infinite;

}

#logo_moves_2{
    height: 5000px;
    width: 5000px;
    position: fixed;
    top:-400px;
    opacity: 0.09;
    border-radius: 100%;
    left: -400px;
    z-index:-2;
    animation: anti_rotate 200s linear infinite;

}

@keyframes anti_rotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }

}

@keyframes rotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}